fastapi
uvicorn
faiss-cpu
numpy
sentence-transformers
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
requests
beautifulsoup4
lxml
python-dotenv
groq
pydantic
scikit-learn
google-generativeai